* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Arial';
    padding-top: 80px; /* Lik høyde på menyen */
}

.navbar {
    height: 80px;
    background-color: rgb(60, 60, 60);
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    height: 100%;
    padding: 0px 10px;
}

.navbar nav {
    float: right;
    line-height: 80px;
}

.navbar nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    display: inline-block;
    padding: 0px 30px;
    letter-spacing: 2px;
}

.menuButton {
    float: right;
    line-height: 80px;
    padding: 0px 20px;
    cursor: pointer;
    display: none;
}

#checkbox {
    display: none;
}

/* for lenken til siden man er på */
.active {

}

@media only screen and (max-width: 730px) {
    .menuButton {
        display: inline-block;
        width: 100px;
        height: 100%;
    }

    .burger-bar {
        display: block;
        width: 100%;
        height: 5px;
        background-color: white;
        margin: 15px 0px;
        border-radius: 5px;
    }

    .navbar nav {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 80px;
        left: -100%;
        background-color: rgb(25, 25, 25);
        transition: 200ms ease;
    }

    .navbar nav a {
        display: block;
        text-align: center;
        font-size: 1.5rem;
        font-weight: normal;
        padding: 20px 0px;
    }

    .navbar nav a:hover,
    .navbar nav a:focus {
        background-color: rgb(10, 10, 10);
    }

    #checkbox:checked ~ nav {
        left: 0;
    }

    /* Legg til no-scroll på body */
}

.topbox{
    height: 400px;
    width: 100%;
    background-color: brown;
}

.search{
    margin-left: 20px;
    margin-top: 10px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    height: 30px;
}

h1 {
    text-align: center;
    margin-top: 120px;
    font-size: 60px;
    text-decoration: none; 
    font-family: sans-serif;
    color: white;
}

.prob{
    height: 400px;
    width: 100%;
    background-color: bisque;
}

h2{
    margin-left: 20px;
    padding-top: 10px;
}

p{
    margin-left: 30px;
    padding-top: 10px;
}

.product {
    height: 350px;
    width: 75%;
    float: left;
    background-color: burlywood;
}

.devices{
    float: right;
    height: 350px;
    width: 25%;
    background-color: rgba(0,0,3,0.2);
}

.map{
    height: 350px;
    width: 50%;
    float:right;
    background-color: green;
}

.locate{
    height: 350px;
    width: 50%;
    float: left;
    background-color:darkslategray;
}

    
